
* {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.Logo {
    border: 2px solid red; width: 110px; height: auto; margin-left: 30px; margin-top: -12px; border: none;
}

.Navbar {
    border: 2px solid black; display: flex; align-items: center; margin-left: 260px; width: 600px; justify-content: space-evenly;
    border: none;
}  

.search {
    border: 2px solid black; width: 250px; height: 30px; background-color: #eceff1; display: flex; 
    align-items: center; margin-top: 22px; margin-left: 100px;border: none;
}

.navigation {
    border: 2px solid orangered; display: flex; justify-content: space-between; width: 100px; align-items: center; 
    margin-left: 30px; border: none;
}

.Para {
    border: 2px solid black; font-size: xx-large; font-weight: bolder; width: 290px; border: none;
    position: absolute;
    top: 610px;
    left: 70px;
}

.Shophm {  width: 130px; height: 50px; display: flex; align-items: center; border: none;
        padding-left: 15px; background-color: black; color: white;
        position: absolute; top: 750px; left: 70px;color: black;
}

.Shop1hm {
    border: 2px solid black; width: 145px; height: 50px; margin-top: -48px; margin-left: 5px;
    position: absolute; top: 799px; left: 65Px;
}

.super {
    border: 2px solid black; font-size: xx-large; font-weight: bolder; width: 290px; color: white; border: none;
    position: absolute;
    top: 1250px;
    left: 95px;
}

.exp {
    border: 2px solid black; width: 590px; color: white; border: none;
    position: absolute;
    top: 1350px;
    left: 95px;
}

.shopnow {
    border: 2px solid white; width: 130px; height: 50px; margin-top: -48px; margin-left: 25px; border: none;
    padding-left: 15px; background-color: white;display: flex; align-items: center;
    position: absolute; top: 1443px; left: 72px;
}

.shopnow1{
    position: absolute; top: 1448px; left: 75px;
    border: 2px solid white; width: 145px; height: 50px; margin-top: -48px; margin-left: 25px;
}

.catego {
    border: 2px solid red; height: 380px; width: 1497px;border: none;
}

.Popu{
    border: 2px solid black; width: 300px; font-weight: bolder; font-size: xx-large;border: none;
    margin-top: 50px; margin-left: 125px;
}

.line1{
     border: 2px solid green; width: 1200px; height: 100px; border: none;
     margin-left: 125px; margin-top: 50px; display: flex; justify-content: space-between;
}

.samba {
    border: 2px solid black; height: 35px; width: 300px; margin-top: 18px;
    font-size: xx-large; font-weight: bold; border-bottom-style: solid; border-top: 2px; border-left: 2px; border-right: 2px;
}

.runshoes{
    border: 2px solid black; height: 35px; width: 300px;margin-top: 18px;
    font-size: xx-large; font-weight: bold;border-bottom-style: solid; border-top: 2px; border-left: 2px; border-right: 2px;
}

.nmd{
    border: 2px solid black; height: 35px; width: 300px;margin-top: 18px;
    font-size: xx-large; font-weight: bold;border-bottom-style: solid; border-top: 2px; border-left: 2px; border-right: 2px;
}

.line2{
     border: 2px solid green; width: 1200px; height: 100px; border: none;
     margin-left: 125px; margin-top: 50px; display: flex; justify-content: space-between;
}

.bkpk {
    border: 2px solid black; height: 35px; width: 300px;margin-top: 18px;
    font-size: xx-large; font-weight: bold;border-bottom-style: solid; border-top: 2px; border-left: 2px; border-right: 2px;
}

.mensnd{
    border: 2px solid black; height: 35px; width: 300px;margin-top: 18px;
    font-size: xx-large; font-weight: bold;border-bottom-style: solid; border-top: 2px; border-left: 2px; border-right: 2px;
}

.bag{
    border: 2px solid black; height: 35px; width: 300px;margin-top: 18px;
    font-size: xx-large; font-weight: bold;border-bottom-style: solid; border-top: 2px; border-left: 2px; border-right: 2px;
}

.mid{
    border: 2px solid red; width: 300px; margin-left: 125px;height: 60px; border: none;
    display: flex;justify-content: space-between;
}

.na{
    border: 2px solid black; width: 130px; height: 40px;
    margin-top: 8px; background-color: black; color: white; font-weight: bolder; font-size: large;
    display: flex; align-items: center; padding-left: 10px;
}

.best{
    border: 2px solid black; width: 130px; height: 40px;
    margin-top: 8px;font-weight: bolder; font-size: large;
    display: flex; align-items: center; padding-left: 10px;
}

.lower{
    border: 2px solid red; width: 1197px; margin-left: 125px; height: 500px;margin-top: 20px;border: none;
    display: flex; justify-content: space-between;
}

.pic1{
    border: 2px solid black; width: 270px; height: 490px;border: none;
}

.pic2{
    border: 2px solid black; width: 270px; height: 490px;border: none;
}

.pic3{
    border: 2px solid black; width: 270px; height: 490px;border: none;
}

.pic4{
    border: 2px solid black; width: 270px; height: 490px;border: none;
}

.pic11{
    border: 2px solid green; height: 50px; margin-top: 5px; font-size: x-large; display: flex; align-items: center;border: none;
}

.pic12{
    border: 2px solid green; height: 50px; margin-top: 5px;color: grey; font-weight: bolder;display: flex; align-items: center;border: none;
}

.pic21{
    border: 2px solid green; height: 50px; margin-top: 5px;font-size: x-large;display: flex; align-items: center;border: none;
}

.pic22{
    border: 2px solid green; height: 50px; margin-top: 5px;color: grey; font-weight: bolder;display: flex; align-items: center;border: none;
}

.pic31{
    border: 2px solid green; height: 50px; margin-top: 5px;font-size: x-large;display: flex; align-items: center;border: none;
}

.pic32{
    border: 2px solid green; height: 50px; margin-top: 5px;color: grey; font-weight: bolder;display: flex; align-items: center;border: none;
}

.pic41{
    border: 2px solid green; height: 50px; margin-top: 5px;font-size: x-large;display: flex; align-items: center;border: none;
}

.pic42{
    border: 2px solid green; height: 50px; margin-top: 5px;color: grey; font-weight: bolder;display: flex; align-items: center;border: none;
}

.img1{border: 2px solid red; height: 350px; width: 268px;border: none;}
.img2{border: 2px solid red; height: 350px; width: 268px;border: none;}
.img3{border: 2px solid red; height: 350px; width: 268px;border: none;}
.img4{border: 2px solid red; height: 350px; width: 268px;border: none;}

.whtnew{
    border: 2px solid black; width: 280px; height: 40px;border: none;
    margin-top: 8px; font-weight: bolder; font-size: xx-large;margin-left: 115px;
    display: flex; align-items: center; padding-left: 10px;
}

.shoping{
    border: 2px solid red; border: none;
    display: flex;
    width: 90%;
    margin-left: 125px;
    justify-content: space-between;
}


.box{
    border: 2px solid black;border: none;
    height: 480px;
    width: 35%;
}

.boximg{
    width: 100%;
}

.img11{
    font-size: large;
    font-weight: bolder;
}

.img12{
    font-size: smaller;
    color: grey;
}

.img13{
    font-size: large;
    font-weight: bolder;
    padding-top: 16px;
}

.img23{
    font-size: large;
    font-weight: bolder;
}

.img33{
    font-size: large;
    font-weight: bolder;
}

.paragraph{
    margin-top: 80px;
    height: 500px;
    display: flex;
    background-color: #f5f5e5; 
    
}

.para1{
    border: 2px solid red; border: none;
    height: 450px;width: 40rem;
    margin-left: 124px; margin-top: 50px;
    word-spacing: 5px;
}

.para2{
    border: 2px solid red; border: none;
    height: 450px; width: 40rem;
    margin-left: 50px; margin-top: 50px;
    word-spacing: 5px;
}

.para11{
     font-size: x-large; font-weight: bolder;
}

.para21{
font-size: x-large; font-weight: 700;
}

.para12{
    margin-top: 20px; word-spacing: 10px; 
}

.para22{
    margin-top: 20px; word-spacing: 10px;
}

.content{
    width: 65%;
    margin-left: 250px; 
        
}

.content1men{
    display: flex; align-items: center;
    justify-content: center; font-size: xx-large;font-weight: bolder;
}

.content2men{
    display: flex; align-items: center;
    justify-content: center;word-spacing: 8px;
}

.contentwomen{
    width: 65%;
    margin-left: 250px; margin-top: 150px;
        
}

.content1women{
    display: flex; align-items: center;
    justify-content: center; font-size: xx-large;font-weight: bolder;
}

.content2women{
    display: flex; align-items: center;
    justify-content: center;word-spacing: 8px;
}

.Para111 {
    border: 2px solid black; width: 290px; border: none;
    position: absolute; color: white;
    top: 690px;
    left: 70px;
}

.Parakids {
    border: 2px solid black; font-size: xx-large; font-weight: bolder; width: 290px; border: none;
    position: absolute;
    top: 610px; color: white;
    left: 70px;
}

.Shopkids { border: 2px solid black; width: 130px; height: 50px; display: flex; align-items: center; border: none;
        padding-left: 15px; background-color: white ; color: white;
        position: absolute; top: 750px; left: 70px;color: black;
}

.Shop1kids {
    border: 2px solid white; width: 145px; height: 50px; margin-top: -48px; margin-left: 5px;
    position: absolute; top: 799px; left: 65Px;
}

.list{
    border: 2px solid red; height: 300px;
    margin-top: 150px; display: flex; justify-content: space-evenly;
    width: 80%; margin-left: 150px;border: none;
}

.box{
    border: 2px solid green; height: auto; width: 18%;
    border: none;
}

.heading{
    border: 2px solid black;border: none;
    height: 30px; margin-top: 20px;font-size: larger;
    font-weight: bolder; display: flex; justify-content: center;
}

.listt {
    border: 2px solid black;height: 190px;border: none;

}

.listt p{
    display: flex; justify-content: center;
     
}


.navbarL{
    height: 45px; display: flex; color: white;
    align-items: center;background-color: black;
    font-size: small; font-weight: bolder;justify-content: center;
}

.prenav{
    border: 2px solid black; width: 300px; height: 10px; margin-left: 1220px; color: grey; font-size: smaller; 
    display: flex; justify-content: space-evenly; margin-top: 8px;border: none;
}

.navi{
    border: 2px solid red; height: 80px;
    display: flex; border: none;margin-top: -10px;
    
}

.navilogo{
    width: 80px; height: 85px;margin-left: 20px;
}

.navinavi{
    width: 600px; margin-left: 200px;
    display: flex; justify-content: space-evenly;
    align-items: center;
}

.navisearch {
    border: 2px solid black; width: 250px; height: 30px; background-color: #eceff1; display: flex; 
    align-items: center; margin-top: 27px; margin-left: 220px;border: none;
    background-color: #eceff1; border: none;font-size: large;
}

.navinavigation {
    border: 2px solid orangered; display: flex; justify-content: space-between; width: 100px; align-items: center; 
    margin-left: 30px; border: none;
}

.left{
    border: 2px solid red; height: 40rem;margin-top: 5rem;
    width: 35rem; margin-left: 10rem;border: none;
}

.leftpic{
    border: 2px solid black;height: 17rem;border: none;
}

.leftC1{
    border: 2px solid green; height: 5rem;margin-top: 2rem;
    font-size: 40px; font-weight: bolder;border: none;
}

.leftC2{
    border: 2px solid red; height: 2rem; margin-top: 1rem;
    border: none;
}

.leftC3{
    border: 2px solid orange; height: 8rem; 
    margin-top: 1rem; border: none;
}

.leftC31{
    display: flex; border: none;
}
.leftC32{
    display: flex;margin-top: 8px;border: none;
}
.leftC33{
    display: flex;margin-top: 8px;border: none;
}
.leftC34{
    display: flex;margin-top: 8px; border: none;
}
.leftC35{
    display: flex;margin-top: 8px; border: none;
}

.leftC4{
    border: 2px solid green; height: 3rem; margin-top: 1rem;
    border: none;
}

.right{
    height: 40rem; width: 35rem;
    margin-left: 50rem; margin-top: -40rem; 
}

.right2{
    height: 2rem; font-size: x-large;
    font-weight: bolder; margin-top: 1rem;
}

.right3{
    height: 1rem;margin-top: 1rem;
    font-size: small; color: grey;
}
.right4{
    height: 2rem; margin-top: 1rem;
    font-weight: bolder;
}

.right5{
    height: 3.5rem;margin-top: 1rem;
    display: flex;
}

.right51{
    border: 2px solid black; height: 3.5rem; width: 4rem;
}

.right52{
    border: 2px solid black; height: 3.5rem; width: 4rem;
    margin-left: 0.5rem;
}

.right53{
    border: 2px solid black; height: 3.5rem; width: 4rem;
    margin-left: 0.5rem;
}

.right6{
    border: 2px solid black;margin-top: 1rem; height: 3rem;
    font-size: xx-large; font-weight: bold; padding-left: 1rem;
}

.right7{
    border: 2px solid black; height: 12rem;
    margin-left: -0.4rem; border: none;
}

.right71{
    display: flex; font-weight: lighter;
}
.right72{
    display: flex; font-weight: lighter;
}
.right73{
    display: flex; font-weight: lighter;
}

.right8{
    border: 2px solid black; width: 8.5rem; height: 3rem;
    display: flex; padding-left: 0.8rem; align-items: center;
    background-color: black; color: white;
}

.right9{
    border: 2px solid black; width: 9.3rem;height: 3rem;
    margin-left: 0.2rem; margin-top: -3rem;
}

.cart{
    border: 2px solid red; width: 80%; height: 40rem;
    margin-top: 4rem; margin-left: 10.5rem; border: none;
}

.leftc{
    border: 2px solid black; width: 60%; height: 40rem; border: none;
}

.leftc1{
    border: 2px solid green; height: 2.5rem; font-size: xx-large;
    font-weight: 700;border: none;
}

.leftc2{
    border: 2px solid green; height: 1.5rem;margin-top: 1rem;
    border: none;
}

.leftc3{
    border: 2px solid green; height: 1.5rem; margin-top: 1rem;
    border: none;
}

.left4{
    border: 2px solid grey; height: 15rem; 
}

.left5{
    border: 2px solid grey; height: 15rem; margin-top: 2rem;
}

.left41{
    display: flex;
}

.imgc{
    border: 2px solid red;height: 15rem; width: 15rem;
    border: none;
}

.imgsrc{
    width: 100%;
}

.left411{
    border: 2px solid red;width: 15rem; height: 15rem;
    border: none; margin-left: 2rem;
    
}

.left4111{
    border: 2px solid red; width: 15rem;height: 1.5rem;
    margin-top: 1rem;border: none;
}

.left4112{
    border: 2px solid red; width: 15rem;height: 1.5rem;
    margin-top: 0.2rem;border: none;
}

.left4113{
    border: 2px solid red; width: 15rem;height: 1.5rem;
    margin-top: 1.5rem;border: none;
}

.left4114{
    border: 2px solid red; width: 15rem;height: 1.5rem;
    margin-top: 0.2rem;border: none;
}

.left4115{
    border: 2px solid black; width: 7rem;height: 3.3rem;
    margin-top: 1.5rem; display: flex;align-items: center;
    border: none;
}

.left412{
    border: 2px solid red; height: 1.5rem; width: 10rem;
    margin-left: 5rem; display: flex;border: none; margin-top: 1rem;
}

.left4122{
    font-size: x-large; margin-left: 2rem;
    margin-top: -0.4rem;
}

.right{
    border: 2px solid red; width: 33%; height:39.5rem;
    border: none;
}


.right1cart{
    border: 2px solid black; height: 3rem; width: 90%;
    display: flex; align-items: center; background-color: black;
    color: white; font-weight: 600;
}
.right12{
    margin-left: 15rem;
}

.right2{
    border: 2px solid black; height: 3rem; width: 90%;
    margin-left: 0.2rem;border: none;
}
.right3{
    border: 2px solid red; height: 2rem; font-size: larger;
    color: black; font-weight: 700;border: none;
}

.right44{
    margin-top: 1rem;display: flex; justify-content: space-between;
}

.right55{
    display: flex; justify-content: space-between; margin-top: 0.5rem;
}

.right66{
    margin-top: 2rem; display: flex; justify-content: space-between;
    font-size: medium; font-weight: 700;
}

.right88{
    margin-top: 2.5rem; font-weight: 550;
}
.right99{
    margin-top: 4rem; font-size: smaller; font-weight: 600;
}

.cartbottom{
    border: 2px solid black; height: 5.5rem;margin-top: 5rem; 
    width: 100rem; margin-left: -11rem; background-color: black;
    color: white; align-items: center; 
}

.bottom1{
    display: flex; justify-content: center;font-size: smaller;
}

.bottom2{
    display: flex; justify-content: center;margin-top: 0.5rem;
    font-size: smaller;
}

.bottom3{
    display: flex; justify-content: center;margin-top: 0.5rem;
    color: grey;font-size: smaller;
}




